APP_NAME=jcc-notifications-api
APP_ENV=development
APP_PORT=8000

# Conexión al Gestor de Base de Datos Central (gestion_bdconex)
DB1_HOST=10.142.0.7
DB1_PORT=3306
DB1_USER=portal_coomeva_import
DB1_PASS=8wLVK3wi3l3x
DB1_NAME=pre_gestion_bdconex

# ID de Cliente específico de JCC Tarjeta Digital en tn_gestion_bdconex
CLIENT_ID=20002

# Respaldo de Conexión Local (Fallback en caso de no usar el gestor central)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=producto9_base

LOG_LEVEL=INFO
